<%- include('./partials/header.ejs') %>
    <!-- Data Entry Point -->
    <form action="/add" method="post" id="dataEnter">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Id</label>
            <input type="text" name='user_id' class="form-control" autofocus placeholder="<%= locals.error ? error :  'Enter user id'%>">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input type="text" name='user_name' class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Query</label>
            <input type="text" name='user_query' class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
<%- include("./partials/footer.ejs") %>